/* Common Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: white;
    background-color: red;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700px;
}

.btn-primary:hover {
    color: red;
    background-color: white;

    border: 1px solid red;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700px;
}

.section-title {
    text-align: center;
}



/* Nav RElated Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;



}

span {
    color: red;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

.navlogo {
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
}

/* header related Styles */
.header {
    background-color: bisque;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;



}

.banner {
    padding: 30px 20px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    height: 700px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;

}

.banner-title {
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;



}

.banner-texts {
    max-width: 500px;
    justify-content: space-between;
}

/* Main section styles */
.about {
    background-color: bisque;

    margin: 80px;
    padding: 131px;
    border-radius: 10px;
}